<ActionBar title="Home"> </ActionBar>
<StackLayout>
  <GridLayout rows="50" columns="* 30" class="new-todo">
    <TextField
      col="0"
      hint="New Todo"
      [(ngModel)]="description"
      secure="false"
      returnKeyType="done"
      (returnPress)="addNew()"
      autocorrect="true"
      maxLength="200"
    >
    </TextField>
    <Label
      col="1"
      class="icon plus fas"
      text="&#xf067;"
      (tap)="addNew()"
    ></Label>
  </GridLayout>
  <FlexboxLayout>
    <ns-card *ngFor="let card of cards" [card]="card"></ns-card>
  </FlexboxLayout>
  <Label *ngIf="itemsToDisplay" class="title" text="Latest"></Label>
  <GridLayout>
    <ListView [items]="latest$ | async" separatorColor="transparent">
      <ng-template let-item="item">
        <ns-todo-list-item [todo]="item"></ns-todo-list-item>
      </ng-template>
    </ListView>
  </GridLayout>
</StackLayout>
