@import "src/app/assets/scss/styleguide";

.todo-list-item {
  height: 60;
  padding: 16;
  background: $white;
  border-bottom-color: $pale-grey;
  border-bottom-width: 2;

  Button {
    height: 30;
    width: 30;
    font-size: 30;
    color: $light-grey;
    margin-right: 16;

    &.success {
      color: $green;
    }
  }

  Label {
    margin-right: 8;
  }

  .delete {
    margin-left: 10;
    color: $red;
    opacity: 0.7;
    font-size: 25;
  }
}
